<form [formGroup]="libraryForm" (ngSubmit)="onSubmit()">
    <input label="text" formControlName = "label">
    <input type="text" formControlName = "type">
    <input firstName="text" formControlName = "firstName">
    <input lastName="text" formControlName = "lastName">
    <input city="text" formControlName = "city">
    <input numberStreet="text" formControlName = "numberStreet">
    <input postalCode="text" formControlName = "postalCode">
    <input street="text" formControlName = "street">

    <button>Sauvegarder</button>
</form>