
<div class = "app">
    <div class="menuside">
        <ul>
            <li>
                <a routerLink ="liste">Liste des bibliothèques</a>

            </li>
            <li>
                 <a routerLink ="nouveau">Nouvelle bibliothèque</a>
            </li>
            <li>
                <a routerLink="/tableau">Tableau des bibliothèques</a>
            </li>
        </ul>
    </div>
    <div class = "container">
        <app-search></app-search>
        <router-outlet></router-outlet>
    </div>
</div>