/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

html, body {  font-family: serif; font-size: 16px;
    height: 100% !important; width: 100%!important; margin: 0; }

h1 {

    color: #008080 !important;
    font-family: 'Courier New', Courier, monospace
}
